In [43]:
import requests
import json
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [44]:
url='http://ergast.com/api/f1/2022/22/results.json'
response=requests.get(url)

In [45]:
content=json.loads(response.content)

In [46]:
df_results_2022=pd.DataFrame()
for race in list(range(1,23)):
    url='http://ergast.com/api/f1/2022/{}/results.json'
    response=requests.get(url.format(race))
    content=json.loads(response.content)
    df_results_2022=df_results_2022.append(pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results']))

In [66]:
df_results_2022['points']=df_results_2022.points.astype(int)

In [68]:
df_results_2022.groupby(['position']).agg({'points':'sum'}).sort_values(by='points',ascending=False)

          points
position
18             0
11             0
12             0
13             0
14             0
15             0
16             0
17             0
20             0
19             0
10            22
9             44
8             88
7            132
6            179
5            222
4            265
3            331
2            402
1            557